<!DOCTYPE html>
<html>
	<head>
	  <title>Smilingface</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body class="body">
		
		<div class="container wrap" >
			<%= render "layouts/menu" %>

			<div>
				<p class="notice"><%= notice %></p>
				<p class="alert"><%= alert %></p>
			</div>

			<%= yield %>
			
			
			<p class=" copyr">
				<hr style=" height: 6px; border: 0; box-shadow: inset 0 4px 6px -6px rgba(0,0,0,0.3); " >
                &copy; Company 2014 
                <small class="designer"><a href="http://lkabadesign.org" target="_blank"> LKabaDesign</a></small>
            </p>  

		</div>

	</body>
</html>
